.markdown .tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

.markdown th,
.markdown td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr:nth-child(2n) {
  background: #f6f8fa;
}

.markdown table tr:nth-child(2n):is(.dark *) {
  background: #444647;
}